<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactanos</title>
</head>
<body>
    <header>
        <div>       
            <h1>Colabora con nosotros</h1>
        </div>
        <div>
            <nav>
                <ul>
                    <li><a href="../index.html" title="Pagina de inicio">Inicio</a></li>
                     <li><a>Categorias</a></li>
                    <li><a>Evaluaciones</a></li>
                    <li><a>Material de estudio</a></li>
                    <li><a href="#" title="Formulario de Contacto">Colabora con nosotros</a></li>
                    <li><a>Más</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>